:root{
    --dark-blue: #0A3871;
    --main-color: #E9ECF8;
    --ligth-blue: #D8DFE8;
    --inter-font: "Inter", sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--main-color);
    font-family: var(--inter-font);
}

header{
    margin-bottom: 3rem;
    width: 100%;
}

main{
    display: flex;
    justify-content: space-around;
}

header img{
    width: 120px;
    height: 48px;
}

.form__section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80dvh;
}

.text-area{
    max-width: 768px;
    width: 100%;
    height: 64dvh;
    border-color: transparent;
    background: transparent;
    outline: none;
    font-family: var(--inter-font);
    font-size: 3.2rem;
    color: var(--dark-blue);
    margin-bottom: 3rem;
    overflow: auto;
    resize: none; /* Evita que el recuadro sea redimensionado */
}

::placeholder{
    color: var(--dark-blue);   
}

.alert-msj{
    display: flex;
    align-items: center;
    gap: .7rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.botones{
    display: flex;
    gap: 4rem;
    justify-content: center;
}

.btn-encriptar, .btn-desencriptar{
    font-size: 1.6rem;
    padding: 1rem 2rem;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px solid var(--dark-blue);
    font-weight: 600;
}

.btn-encriptar{
    background: var(--dark-blue);
    color: white;
    border: 1px solid var(--dark-blue);

}

.btn-desencriptar{
    background: var(--ligth-blue);
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
}

.btn-limpiar{
    background: var(--ligth-blue);
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    font-size: 1.6rem;
    padding: 1rem 2rem;
    width: 228px;
    height: 60px;
    border-radius: 24px;
    border: 1px solid var(--dark-blue);
    font-weight: 600;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: start; /* Asegura que el contenido esté alineado al inicio (arriba) */
    justify-content: start;
    height: 100vh; /* Asegura que el contenedor ocupe todo el espacio disponible */
}

.result{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start; /* Alinea el contenido al inicio (arriba) */
    gap: 2rem;
    height: 80dvh;
    max-width: 90rem;
    border-radius: 32px;
    overflow-y: auto; /* Agrega una barra de desplazamiento si el contenido es demasiado grande */
}

.result-title{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    color: #343A40;
}

.result-text{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #495057;
}

.result-img{
    display: block;
}


.btn-copiar {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-weight: 600;
    display: none;
    background: white;
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    font-weight: 600;

}

@media screen and (min-width:768px) and (max-width:1023px){
    header {
        margin-bottom: 2rem;
        width: 31.09px;
        height: 50.58px;
    }
    main {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    .form__section{
        width: 90%;
        margin: 0 2rem auto;
    }
    .text-area{
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        width: 100%;
    }
    .botones{
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        width: 100%;
        margin-bottom: 10rem;
    }
    .btn-encriptar, .btn-desencriptar, .btn-limpiar, .btn-copiar {
            width: 45%; /* Hacer que los botones ocupen menos espacio */
            font-size: 1.8rem; /* Ajusta el tamaño de la fuente */
            padding: 1.2rem 2rem;
    }
    .alert-msj{
        display: flex;
        align-items: center;
        gap: .7rem;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }
    .result{
        width: 90%;
        padding: 2rem;
        margin: 2rem auto;
        height: auto;
        min-width: 668px;
        margin-top: 2rem;
        min-height: 10rem;
    }
    .result-container{
        align-items: center;
        text-align: center;
        gap: .3rem;
        height: 15rem;
    }
    .result-title{
        font-size: 2rem;
        padding: 1.5rem;
    }
    .result-text{
        font-size: 1.8rem;
        padding: 1.5rem;
    }
    .result-img{
        display: none;
    }
}
   
@media screen and (max-width:767px) {
    header{
        margin-bottom: 1rem;
        width: 375px;
        height: 96px;
    }
    main {
        flex-direction: column;
        padding: 1rem;
    }
    .text-area{
        height: 40dvh;
        font-size: 2rem;
        padding: 1rem;
    }
    .botones{
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-direction: column;
    }
    .btn-encriptar, .btn-desencriptar, .btn-copiar{
        width: 100%;
        font-size: 1.4rem;
        padding: 0.8rem 1.6rem;
    }
    .form__section{
        width: 100%;
        margin: .1rem;
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .result{
        width: 100%;
        padding: 1rem;
        margin-top: 2rem;
        height: auto;
    }
    .result-container{
        align-items: center;
        text-align: center;
        gap: .3rem;
        height: 15rem;
    }
    .result-title{
        font-size: 1.8rem;
        padding: .4rem;
    }
    .result-text{
        font-size: 1.4rem;
        padding: .4rem;
    }
    .result-img{
        display: none;
    }
    .btn-copiar{
        width: 100%;
    }
}
